.git
.gitignore
venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

data
dist
out
.lzc-cli-build*
lazycat-lpk-online/dist

*.lpk
*.log
*.jpg
*.png
*.c
*.so

main_gui.py
start_qt6.py
xmonitor-qt6
xmonitor_qt6.c
requirements_gui.txt
